/* Réinitialisation de base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* tailwind css */
.flex {
display: flex;
} 
.justify-content {
justify-content: center;
} 
.w-full {
width: 100%;
}
.text-center {
    text-align: center;
}
.bg-brown-light {
    /* background: linear-gradient(to bottom, #FDE9E6     0%, #ecdbcd 100%); */
    background: linear-gradient(to bottom, #ffffff     0%, #FDE9E6 100%);

    /* background-color: #F5D2B5; */
}



/* Appliquer la police Playfair Display */
h1, h2, h3, a {
    /* font-family: 'Poppins', serif; */
    font-family: 'Playfair Display', serif;
}
h1 {
    color: #af7749;
    font-family: 'Playfair Display', serif;
}


.logocolor {
    color:"#af7749;"
}
.logocolor1 {
    color:"#af7749;"
}

/* Navigation */
.navigation {
    height: 80px;
    display: flex;
    position: fixed;top: 0px;
    width: 100%;
    z-index: 33;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FDE9E6; /* Rose pâle */

}


.nav-left, .nav-right {
    display: flex;
    list-style: none;
}

.nav-left li, .nav-right a {
    margin-right: 20px;
}

.nav-left a, .nav-right a {
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    color: #af7749; /* Gris foncé */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-left a:hover, .nav-right a:hover {
    color: #F5D2B5; /* Beige clair au hover */
}

/* Logo */
.nav-logo {
    text-align: center;
}

.logo-main {
    font-size: 2rem;
    font-weight: bold;
    
}

.logo-sub {
    font-size: 1rem;
    color: #666; /* Gris plus clair */
}


/* Masquer le menu mobile par défaut sur les grands écrans */
.navigation-mobile {
    display: none;
}





/* bloc pagination */
.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .category {
    text-align: center;
    width: 150px;
  }
  
  .category img {
    width: 105px; /* Adjust size of the icon */
    height: auto;
    margin-bottom: 10px;
  }
  
  .category p {
    font-family: 'Poppins', sans-serif; /* Or any font of your choice */
    font-size: 16px;
    color: #000;
  }



  /* presenttaion */
  .presentation-section {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #FDE9E6     0%, #ffffff 100%);
}
.presentation-section img {
    width: 150px;
    border-radius: 50%;
}

.presentation-section h1 {
    font-family: 'Cherilyn', sans-serif; /* Remplacer par la police de ton choix */
    font-size: 36px;
    font-weight: 600;
    /* color: #000; */
    color: #af7749;

    margin-bottom: 30px;
}

.presentation-section p {
    font-family: 'Poppins', sans-serif; /* Police pour le texte */
    font-size: 18px;
    color:black;
    /* color:#c28452; */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

  

/* Carrousel */
.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 233, 230, 0.1); /* Rose pâle avec opacité */
    z-index: 1;
}

/* Texte du slider */
.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Conteneur des vidéos */
.video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 80px;
}

.video-slide-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.video-slide {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: transparent;
}



/* boutton */
.styled-button {
    background-color: #af7749; /* Couleur primaire */
    color: #fff; /* Texte blanc */
    border: none; /* Retire la bordure par défaut */
    padding: 12px 24px; /* Espacement interne pour agrandir le bouton */
    border-radius: 8px; /* Coins arrondis */
    font-family: 'Poppins', sans-serif; /* Police du texte */
    font-size: 16px;
    font-weight: 500;
    max-width: 200px;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour le hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow pour effet d'ombre */
    margin-bottom: 50px;
}

.styled-button:hover {
    background-color: #925c36; /* Couleur plus foncée au hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au hover */
}



/* gallery */
/* Style du conteneur de la galerie */
.gallery-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur grands écrans */
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Limite la largeur totale */
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    max-height: 600px; /* Ajuste la hauteur des images */
}

.gallery-item p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: #000;
}

/* Responsive pour les tablettes (écrans moyens) */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur les écrans moyens */
    }
}

/* Responsive pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 colonne sur les petits écrans */
    }
}

.bestsellers h2 {

    padding-top: 50px;
    color: #af7749;
    font-size: 35px;
    margin-bottom: 30px;
}
.textgallery {
    display:flex;
    flex-direction:column;

}
.textgallery p {
    font-family: 'Poppins', sans-serif; /* Police pour le texte */
    font-size: 18px;
    color:black;
    /* color:#c28452; */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 
.textgallery button 
{max-width: 100px;} */




/* Media query pour les écrans plus petits (mobile friendly) */
@media (max-width: 768px) {
    
     /* Masquer la navigation pour les grands écrans */
     .navigation {
        display: none;
    }
    
    /* Afficher le menu mobile sur petit écran */
    .navigation-mobile {
        display: flex;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 88;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .menu-icon {
        cursor: pointer;
    }

    .hamburger-icon {
        width: 30px;
        height: 30px;
        stroke: #925c36;
    }

    /* videos */
    .video-container {
        margin-top:0px
    }
}


/* Section Showroom */
.showroom-section {
    /* padding: 50px; */
    background-color: #f9f9f9; /* Couleur de fond pour la section */
}

.showroom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    margin: 0 auto;
}

/* Colonne Image */
.showroom-image {
    flex: 1;
    margin-right: 20px;
}

.showroom-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Colonne Texte */
.showroom-text {
    flex: 1;
    
}
.padding-left {
    padding-left: 50px;
}
.padding-right {
    padding-right: 50px
}
.showroom-text h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #999; /* Couleur pour le sous-titre */
    margin-bottom: 10px;
    text-transform: uppercase;
}

.showroom-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.showroom-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

/* Bouton */
.btn {
    background-color: #d0a895;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #af7749; /* Changement de couleur au survol */
}

/* Responsive Design */
@media (max-width: 768px) {
    .showroom-container {
        flex-direction: column;
        text-align: center;
    }

    .showroom-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .showroom-text {
        padding-left: 0;
    }
}
/* Footer général */
.site-footer {
    background-color: #925c36;
    color: #fff; /* Texte blanc pour bien contraster */
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Colonnes du footer */
.footer-column {
    flex: 1;
    margin: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 18px;
    color: #af7749; /* Couleur de titre en doré/beige */
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #af7749; /* Changement de couleur au survol */
}

/* Icônes de réseaux sociaux */
.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: invert(100%); /* Pour passer les icônes en blanc */
    transition: filter 0.3s ease;
}

.social-icons a:hover img {
    filter: invert(60%) sepia(50%) saturate(200%) hue-rotate(-20deg); /* Changement de couleur au survol */
}

/* Footer Bottom (Copyright et mentions légales) */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
}

.footer-bottom a {
    color: #af7749;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin: 20px 0;
    }
}

/* footer */
/* Icônes de réseaux sociaux */
.social-icons {
    display: flex;
    gap: 15px; /* Espacement entre les icônes */
}

.social-icon {
    color: #fff; /* Couleur de base des icônes */
    font-size: 24px; /* Taille des icônes */
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #af7749; /* Couleur de survol */
}

/* Responsive design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin: 20px 0;
    }
}

